/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
:root {
    --paars:#5722CD;
    --blauw:#4845E4;
    --roze:#ED4385;
    --zwart:#0C0C0C;
    --lichtpaars:#F2F0FF;
    --lichtgrijs:#F3F6F9;
    --grijs:#7A7A7A
}
h2{
    color: var(--blauw);
}
.article-one-color{
    background-color: var(--lichtgrijs);
}
.article-heading-color{
    color: var(--zwart);
    font-weight: bold;
font-size: x-large;
}
.project{
    color: var(--blauw);
    text-transform: uppercase ;
    font-weight: bold;

}
header{
        color:white;
        padding-right: 20px ;
        padding-bottom:100px;
        padding-left: 20px;
        padding-top: 20px;
        margin-top: 10px;
        position: relative;
}
li{
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}

.article-one-style{
    padding-top: 50px;
    padding-bottom: 50px;
}
.photo-size{
    width: 400px;
}
.section-padding{
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.sextion-two-img {
    width: 50px;
}

.article-one-color{
    background-color: var(--lichtgrijs);
}
.article-heading-color{
    color: var(--zwart);
    font-size: large;
    font-weight: bold;

}
.article-one-style{
    padding-top: 50px;
    padding-bottom: 50px;
}

footer{
    background-color: var(--zwart);
    color:white;
    font-weight: bold;
    text-align: center;
}
/* ------------------------------- 2. Typography ----------------------------------- */
h1{
    font-family: 'Merriweather', serif;
}
h2 {
    font-family: 'Merriweather', serif;
    font-size: large;
}
h3 {
    font-family: 'Merriweather', serif;
}
body{
    font-family: 'Roboto', sans-serif;
}
.p-font{
    font-size: large;
    font-weight: bold;

}
/* ------------------------------- 3. Layout --------------------------------------- */




/* --------------- 3.1 Reusables ----------------------- */


/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.header-grad-box {
    background-image:linear-gradient(#4845E4 70%, #5722CD);
}
.header-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-content: space-between;
    list-style:none;
}
.rcorners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color:var(--roze);
    padding: 20px;
    width: 150px;
    height: 5px;

}

.squiggle-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom:0px;
    right:150px;
    left: 150px;
    height: 60px;
}
.img-1{
    size: 43px 70px;
}

li{
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}
.section-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* --------------- 4.2 Introduction ------------------- */
/*-----------section 1---------*/
.article-image-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.box-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 20px;

}
.box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}
.article-image-box-two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.image-wrapper{
    flex-basis: 900px;
    flex-grow: 0;
    flex-shrink: 1;
}
.img-rolling-stone{
   width: 100%;
}


/*-------section two----*/
.section-two-img {
    width: 50px;
}
.section-two-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    flex-basis: 0 0 350px;


   }
.blocks-design{
    box-sizing: border-box;
    border: var(--blauw) solid;
    height: 400px;
    width:400px ;
    box-shadow:2px 2px 2px 2px grey ;
    margin: 30px;
    padding: 20px;

}
.sec-3{
    background-color: var(--blauw);
    color: white ;
    font-weight: bold;
    font-size: 30px;
}
.sec-three{
    color: white ;
}
.form-styles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.button-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.input-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}
/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-device-width: 576px) {
    h1, h2 {
        font-size: 35px;
    }
}